table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
th{
    text-align: center;
}
th, td {
    padding: 8px;
    border: 1px solid black;
}
td{
    width: 300px;
}
.info{
    width: 200px;
th {
    background-color: #ddd;
}
.login-container{
    text-align: center;
    margin-top: 10%;
    width: 100%;
}
.content{
    margin: 10px;
}
.menu{
    width: 100%;
    min-width: 1000px;
}
.menudiv{
    float: left;
    width: 100px;
}
.l{
    clear:both;
}
.logout{
    text-align: right;
}